version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: infra/php/Dockerfile
    container_name: php-app
    env_file:
      - .env
    volumes:
      - .:/var/www/html
      - /var/www/html/vendor
    expose:
      - "9000"

  nginx:
    build:
      context: ./infra/nginx
    container_name: nginx-server
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - php

  db:
    build:
      context: ./infra/db
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mood_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
